{% extends "base.twig" %}

{% set YES = "<i class=\"fa fa-check\" style=\"color: green;\" title=\"YES\"></i>" %}
{% set NO = "<i class=\"fa fa-close\" style=\"color: red;\" title=\"NO\"></i>" %}

{% block main %}
    <h1>PASETO</h1>

    <p>
        Paseto is everything you love about JOSE (JWT, JWE, JWS) without any of the
        <a href="https://paragonie.com/blog/2017/03/jwt-json-web-tokens-is-bad-standard-that-everyone-should-avoid">many
        design deficits that plague the JOSE standards</a>.
    </p>

    <h2 id="implementations">PASETO Implementations</h2>
    {% include "components/matrix.twig" %}

    <h2 id="talks">Conference Talks and Presentations</h2>
    {% include "components/talks.twig" %}

    <h2 id="status">Project Status</h2>
    <ul>
        <li>
            {{ YES|raw }} Stable <a href="https://github.com/paragonie/paseto">PASETO reference implementation</a>
        </li>
        <li>
            {{ YES|raw }} Usable <a href="https://github.com/paragonie/paseto/tree/master/docs">documentation</a>
            <ul>
                <li>{{ YES|raw }} <a href="https://github.com/paragonie/paseto/tree/master/docs/01-Protocol-Versions">Protocol Definitions</a></li>
                <li>{{ YES|raw }} <a href="https://github.com/paragonie/paseto/tree/master/docs/02-PHP-Library">Reference Implementation User Guide</a></li>
                <li>{{ YES|raw }} <a href="https://github.com/paragonie/paseto/tree/master/docs/03-Implementation-Guide">Guide for Implementors</a></li>
            </ul>
        </li>
        <li>{{ YES|raw }} Implementations in multiple programming languages and environments</li>
        <!--
        <li>{{ YES|raw }} Formal RFC draft submitted to the IETF (<a href="https://datatracker.ietf.org/doc/draft-paragon-paseto-rfc/">link</a>)</li>
        <li>{{ NO|raw }} Accepted as an Internet Standard, becoming a recognized JOSE alternative</li>
        -->
    </ul>

    <hr />
    <p>
    This website is open source on <a href="https://github.com/paragonie/paseto-io"><i class="fa fa-github"></i>Github</a>.
    </p>
{% endblock %}