<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th rowspan="2">Name</th>
            <th rowspan="2">Language</th>
            <th rowspan="2">Author</th>
            <th colspan="5">Features</th>
        </tr>
        <tr>
            <th title="Legacy versions">(Legacy)</th>
            <th title="v3.local">v3.local</th>
            <th title="v3.public">v3.public</th>
            <th title="v4.local">v4.local</th>
            <th title="v4.public">v4.public</th>
        </tr>
        </thead>
        <tbody>
        {% for impl in table %}
            <tr>
                <td>
                    <a href="{{ impl.url }}">{{ impl.name }}</a>
                </td>
                <td>{{ impl.language }}</td>
                <td>
                    {% for a in impl.authors %}
                        {% if a.homepage %}<a href="{{ a.homepage }}">{% endif %}
                        {{ a.name }}
                        {% if a.homepage %}</a>{% endif %}
                    {% endfor %}
                </td>
                <td class="text-center">{#
                    #}{% if impl.features['v1.local'] or impl.features['v1.public'] or impl.features['v2.local'] or impl.features['v2.public'] %}{#
                        #}{{ YES|raw }}{#
                    #}{% else %}{#
                        #}{{ NO|raw }}{#
                    #}{% endif %}}{#
                #}</td>
                <td class="text-center">{% if impl.features['v3.local'] %}{{ YES|raw }}{% else %}{{ NO|raw }}{% endif %}</td>
                <td class="text-center">{% if impl.features['v3.public'] %}{{ YES|raw }}{% else %}{{ NO|raw }}{% endif %}</td>
                <td class="text-center">{% if impl.features['v4.local'] %}{{ YES|raw }}{% else %}{{ NO|raw }}{% endif %}</td>
                <td class="text-center">{% if impl.features['v4.public'] %}{{ YES|raw }}{% else %}{{ NO|raw }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
